.vs
Library
Temp
UnityPackageManager
obj
.idea
.vsconfig
.DS_Store
*.csproj
*.sln
.tags
*.*~
*.DotSettings.user
.vscode/settings.json
**/.SourceCache/*
**/.sp/*
**/.sp.meta
Assets/__*/**
Assets/__*.meta
Logs
UserSettings
Localizations/backups
Localizations/logs
Localizations/*Base.csv
Steamworks/tools/ContentBuilder/output/*
Steamworks/tools/ContentBuilder/content/windows_content/*
Assets/LocalizationExporterCache/*
Assets/LocalizationExporterCache.meta
Assets/WorldCreatorTerrains
Assets/WorldCreatorTerrains.meta
Assets/WorldCreatorSyncTool
Assets/WorldCreatorSyncTool.meta
Assets/_TerrainAutoUpgrade
Assets/_TerrainAutoUpgrade.meta
Assets/FbxExporters
Assets/FbxExporters.meta
ProjectSettings/FbxExportSettings.asset
Assets/Editor
Assets/Editor.meta
Assets/ProCore
Assets/ProCore.meta
Assets/Vendor/AmplifyShaderEditor/Examples
Assets/Vendor/AmplifyShaderEditor/Examples.meta
Assets/Allegorithmic
Assets/Allegorithmic.meta
Assets/SP_Textures
Assets/SP_Textures.meta
Assets/UnusedAssets.txt
Assets/UnusedAssets.txt.meta
Assets/AssetsUsages.txt
Assets/AssetsUsages.txt.meta
Assets/Code/Editor/TGEditorPreferences.asset.meta
Assets/Code/Editor/TGEditorPreferences.asset
Assets/Resources/I2Languages*.asset
Assets/Resources/I2Languages*.asset.meta
Assets/Resources/GUIDMapping.asset
Assets/Resources/GUIDMapping.asset.meta
Assets/Vendor/Bakery/ftGlobalStorage.asset
Assets/Vendor/Bakery/ftGlobalStorage.asset.meta
Assets/Vendor/Bakery/ftLocalStorage.asset
Assets/Vendor/Bakery/ftLocalStorage.asset.meta
Assets/Vendor/EditorWorkingSet/Editor/categories*
Assets/Vendor/EditorWorkingSet/Editor/working_set_data*
Assets/Plugins/RainbowAssets/RainbowFolders/Editor/Data/RainbowFoldersRuleset.asset.meta
Assets/Plugins/RainbowAssets/RainbowFolders/Editor/Data/RainbowFoldersRuleset.asset
Assets/Temp.meta
RainbowFoldersRuleset.asset
Assets/Shaders/TG/Cards/.vscode/settings.json
